*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}